a.out
*log*
rw*
sighand1
rvlab?
xwin89
phase1
dbg_phase2
3/iq
4/proj
4/shared_mem
4/shm_io
4/sigset*
4/strings
5/lab5
proj/phase1
proj/phase2
4/phase2
8/cleanipc.sh
8/exe*
8/foo
8/lab8
8/fork*
8/memory.c
8/myecho*
8/myexec*
8/nofork*
8/notes8.c
8/sample*
9/asd
9/lab9
9/light
9/phase3
a/lab10
a/maptest?
9/lab9a
game/
practice/b
b/dotprod
b/mypipes
b/pgflt_test
b/pipetest
b/rlimit
b/rvlab11
b/test
b/out
b/cache_check
